<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>กาแฟพันธุ์ไทย เข้ม เท่ จริงใจ แบบไทยแท้ๆ</title>
    <link rel="icon" href="~/dist/images/logo.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/js/jquery-3.4.1.min.js" asp-append-version="true"></script>
   @* <script src="~/js/modernizr-2.8.3.js" asp-append-version="true"></script>*@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>

    @RenderBody()


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>