@page
@model queuefront.Pages.SignedModel
@{
    ViewData["Title"] = "Signed";
    Layout = "_Layout";
}
<div class="main card-bg">
    <div class="col-12 summary">
        <div class="summary-head-queue">
            <div class="row">
                <div class="col-12"><h1><b>พร้อมเสิร์ฟ</b></h1></div>
            </div>
        </div>
        <div class="order-serve">
            <div class="row align-center">
                <div class="col-12">
                    <div class="card-flex">
                        <div class="col-4">
                            <div class="queue-display">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-detail-queue"></div>
                        </div>
                        <div class="col-2">
                            <img class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-center">
                <div class="col-12">
                    <div class="card-flex">
                        <div class="col-4">
                            <div class="queue-display">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-no">
                                <div class="text-gray"></div>
                            </div>
                            <div class="text-no">
                                <div class="text-gray"></div>
                            </div>
                        </div>
                        <div class="col-2">
                            <img class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-center">
                <div class="col-12">
                    <div class="card-flex">
                        <div class="col-4">
                            <div class="queue-display">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-no">
                                <div class="text-gray"></div>
                            </div>
                            <div class="text-no">
                                <div class="text-gray"></div>
                            </div>
                        </div>
                        <div class="col-2">
                            <img class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-center">
                <div class="col-12">
                    <div class="card-flex">
                        <div class="col-4">
                            <div class="queue-display">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-no">
                                <div class="text-gray"></div>
                            </div>
                            <div class="text-no">
                                <div class="text-gray"></div>
                            </div>
                        </div>
                        <div class="col-2">
                            <img class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-center">
                <div class="col-12">
                    <div class="card-flex">
                        <div class="col-4">
                            <div class="queue-display">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-no">
                                <div class="text-gray"></div>
                            </div>
                            <div class="text-no">
                                <div class="text-gray"></div>
                            </div>
                        </div>
                        <div class="col-2">
                            <img class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="queue-head-ready">
            <div class="row">
                <div class="col-12"><h1><b>กำลังดำเนินการ</b></h1></div>
            </div>
        </div>
        <div class="order-wait">
            <div class="row align-center">
                <div class="col-12">
                    <div class="card-flex">
                        <div class="col-4">
                            <div class="queue-display">
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="text-detail-queue"></div>
                        </div>
                        <div class="col-3">
                            <img class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-center">
                <div class="col-12">
                    <div class="card-flex">
                        <div class="col-6">
                            <div class="queue-display">
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="text-no">
                                <div class="text-gray"></div>
                            </div>
                            <div class="text-no">
                                <div class="text-gray"></div>
                            </div>
                        </div>
                        <div class="col-2">
                            <img class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-center">
                <div class="col-12">
                    <div class="card-flex">
                        <div class="col-4">
                            <div class="queue-display">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-no">
                                <div class="text-gray"></div>
                            </div>
                            <div class="text-no">
                                <div class="text-gray"></div>
                            </div>
                        </div>
                        <div class="col-2">
                            <img class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-center">
                <div class="col-12">
                    <div class="card-flex">
                        <div class="col-4">
                            <div class="queue-display">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-no">
                                <div class="text-gray"></div>
                            </div>
                            <div class="text-no">
                                <div class="text-gray"></div>
                            </div>
                        </div>
                        <div class="col-2">
                            <img class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-center">
                <div class="col-12">
                    <div class="card-flex">
                        <div class="col-4">
                            <div class="queue-display">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-no">
                                <div class="text-gray"></div>
                            </div>
                            <div class="text-no">
                                <div class="text-gray"></div>
                            </div>
                        </div>
                        <div class="col-2">
                            <img class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let myInterVal;
    let myNpoint = '@ViewData["BaseAPI"]';
    let myShop = '@ViewData["Shopcode"]';

    $(document).ready(function () {
        LoadData();
        myInterVal = setInterval(LoadData, 8000);
    });
    function stopTimer() {
        clearInterval(myInterVal)
    }
    function resetTimer() {
        myInterVal = setInterval(LoadData, 8000);
    }
    function LoadData() {
        var urlNpoint = myNpoint;
        $.ajax({
            type: "POST",
            url: urlNpoint,
            data: JSON.stringify({ ShopCode: myShop }),
            contentType: "application/json",
            dataType: "json",
            success: function (response) {

                var _htmlServe = '';
                var _htmlWait = '';
                $.each(response.serve, function (i, o) {
                    _htmlServe += '<div class="row align-center">';
                    _htmlServe += '	<div class="col-12">';
                    _htmlServe += ' 		<div class="card-flex">';
                    _htmlServe += '			<div class="col-4">';
                    _htmlServe += '				<div class="queue-display">' + o.queue + '</div>';
                    _htmlServe += '			</div>';
                    _htmlServe += '			<div class="col-6 pdl-15">';
                    _htmlServe += '				<div class="text-detail-queue">' + o.queueDes + '</div>';
                    _htmlServe += '				<div class="text-no">';
                    _htmlServe += '				    <div class="text-gray">' + o.queueNo + '</div>';
                    _htmlServe += '				</div>';
                    _htmlServe += '			</div>';
                    _htmlServe += '			<div class="col-2">';
                    if (o.queueMode == "TA") {
                        _htmlServe += '          <img class="img-fluid img-take-away">';
                    }
                    if (o.queueMode == "TD" || o.queueMode == "TE" || o.queueMode == "PC" || o.queueMode == "ZP") {
                        _htmlServe += '          <img class="img-fluid img-drive">';
                    }
                    if (o.queueMode == "EI") {
                        _htmlServe += '          <img class="img-fluid img-cake">'
                    }
                    if (o.queueMode == "001") {
                        _htmlServe += '          <img class="img-fluid img-grab">';
                    }
                    if (o.queueMode == "002") {
                        _htmlServe += '          <img class="img-fluid img-shopee">';
                    }
                    if (o.queueMode == "003") {
                        _htmlServe += '          <img class="img-fluid img-lineman">';
                    }
                    if (o.queueMode == "004") {
                        _htmlServe += '          <img class="img-fluid img-rbh">';
                    }
                    if (o.queueMode == "005") {
                        _htmlServe += '          <img class="img-fluid img-panda">';
                    }
                    if (o.queueMode == "006") {
                        _htmlServe += '          <img class="img-fluid img-airasia">';
                    }
                    if (o.queueMode == "007") {
                        _htmlServe += '          <img class="img-fluid img-true">';
                    }
                    _htmlServe += '			</div>';
                    _htmlServe += '		</div>';
                    _htmlServe += '	</div>';
                    _htmlServe += '</div>';
                });
                $('.order-serve').empty().append(_htmlServe);
                $.each(response.wait, function (i, o) {
                    _htmlWait += '<div class="row align-center">';
                    _htmlWait += '	<div class="col-12">';
                    _htmlWait += ' 		<div class="card-flex">';
                    _htmlWait += '			<div class="col-4">';
                    _htmlWait += '				<div class="queue-display">' + o.queue + '</div>';
                    _htmlWait += '			</div>';
                    _htmlWait += '			<div class="col-6 pdl-15">';
                    _htmlWait += '				<div class="text-detail-queue">' + o.queueDes + '</div>';
                    _htmlWait += '				<div class="text-no">';
                    _htmlWait += '				    <div class="text-gray">' + o.queueNo + '</div>';
                    _htmlWait += '				</div>';
                    _htmlWait += '			</div>';
                    _htmlWait += '			<div class="col-2">';
                    if (o.queueMode == "TA") {
                        _htmlWait += '          <img class="img-fluid img-take-away">';
                    }
                    if (o.queueMode == "TD" || o.queueMode == "TE" || o.queueMode == "PC" || o.queueMode == "ZP") {
                        _htmlWait += '          <img class="img-fluid img-drive">';
                    }
                    if (o.queueMode == "EI") {
                        _htmlWait += '          <img class="img-fluid img-cake">'
                    }
                    if (o.queueMode == "001") {
                        _htmlWait += '          <img class="img-fluid img-grab">';
                    }
                    if (o.queueMode == "002") {
                        _htmlWait += '          <img class="img-fluid img-shopee">';
                    }
                    if (o.queueMode == "003") {
                        _htmlWait += '          <img class="img-fluid img-lineman">';
                    }
                    if (o.queueMode == "004") {
                        _htmlWait += '          <img class="img-fluid img-rbh">';
                    }
                    if (o.queueMode == "005") {
                        _htmlWait += '          <img class="img-fluid img-panda">';
                    }
                    if (o.queueMode == "006") {
                        _htmlWait += '          <img class="img-fluid img-airasia">';
                    }
                    if (o.queueMode == "007") {
                        _htmlWait += '          <img class="img-fluid img-true">';
                    }
                    _htmlWait += '			</div>';
                    _htmlWait += '		</div>';
                    _htmlWait += '	</div>';
                    _htmlWait += '</div>';
                });
                $('.order-wait').empty().append(_htmlWait);
            },
            error: function (response) {
                stopTimer();
            }
        });
    }
</script>
