<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!--<add key="IconceptsTeam" value="https://buzzebees.pkgs.visualstudio.com/Buzzebees/_packaging/IconceptsTeam/nuget/v3/index.json" />-->
  </packageSources>
  <packageSourceCredentials>
    <!--
      <IconceptsTeam>
        <add key="Username" value="campaign_magement" />
        <add key="cleartextpassword" value="zf6aap2tadnx65sdwlrvxltrf3e2i37l2rbmbfjnzw26tdjqbzjq" />
      </IconceptsTeam>
    -->
  </packageSourceCredentials>
</configuration>